extends layout

block layout-content
    div#hero-image-content.text.center.grid.justify-center
        div#slogan.absolute.top-44.text-4xl.left-14
            h1.page-title Hustle free shopping
            p Whatever you need we've got it.
        figure.hero-image
            <!-- image source https://www.istockphoto.com/photo/luxury-watch-isolated-on-white-background-with-clipping-path-gold-watch-women-watch-gm1068843992-285910155 -->
            img(alt="an elegant watch" src="/images/hero-image.jpeg")

    div#featured-items
        h2.uppercase Featured items

        div(id="item-list" class="lg:grid-cols-4 grid gap-7 md:gap-4")
            div.item-1
                <!-- image source https://www.istockphoto.com/photo/luxury-watch-isolated-on-white-background-with-clipping-path-for-artwork-or-design-gm1180244659-330574311 -->
                figure
                    img(alt="a luxury elegant watch with black inside" src="/images/luxury-watch.jpeg")
                h3 Luxury watch
                p Light Weight
                p Water Resistant
                p Black inside

                div.call-to-action
                    a(href="#") View

            div.item-2
                <!-- image source https://www.istockphoto.com/photo/watch-gm1135777728-302274508 -->
                figure
                    img(alt="golden watch. time accessory isolated on white. 3d illustration" src="/images/3D-watch.jpeg")
                h3 Rolex
                p Golden watch.
                p Water Resistant
                p 3D illustration
                div.call-to-action
                    a(href="#") View

            div.item-3
                <!-- image source https://www.istockphoto.com/photo/a-plain-blue-and-white-wrist-watch-gm132024919-12213685 -->
                figure
                    img(alt="an elegant blue wristwatch" src="/images/blue-watch.jpeg")
                h3 Blue wristwatch
                p Light Weight
                p Water Resistant
                p Silent
                div.call-to-action
                    a(href="#") View

            div.item-4
                <!-- image source https://www.istockphoto.com/vector/smart-watch-isolated-with-icons-on-white-background-vector-illustration-gm525575671-51093866 -->
                figure
                    img(alt="Silver smart watch isolated with icons on white background. Multimedia concept accessory Vector illustration. EPS 10" src="/images/apple-watch.jpeg")
                h3 Apple Watch
                p Smart Watch
                p Water Resistant
                p Digital
                div.call-to-action
                    a(href="#") View

        div.justify-center.grid
            a(href="/products").rounded-md.m-2.bg-orange-600.text-white.px-3.py-2 View More
