extends layout

block layout-content
    div#items-list.mt-32.p-4
        h2.uppercase.text-3xl Best Products For You

        div(id="item-list-1" class="grid gap-7")
            div.item-1
                <!-- image source https://www.istockphoto.com/photo/luxury-watch-isolated-on-white-background-with-clipping-path-for-artwork-or-design-gm1180244659-330574311 -->
                figure
                    img(alt="a luxury elegant watch with black inside" src="/images/luxury-watch.jpeg")
                h3 Luxury watch
                p Light Weight
                p Water Resistant
                p Black inside

                div.call-to-action
                    a(href="#") View

            div.item-2
                <!-- image source https://www.istockphoto.com/photo/watch-gm1135777728-302274508 -->
                figure
                    img(alt="golden watch. time accessory isolated on white. 3d illustration" src="/images/3D-watch.jpeg")
                h3 Rolex
                p Golden watch.
                p Water Resistant
                p 3D illustration
                div.call-to-action
                    a(href="#") View

            div.item-3
                <!-- image source https://www.istockphoto.com/photo/a-plain-blue-and-white-wrist-watch-gm132024919-12213685 -->
                figure
                    img(alt="an elegant blue wristwatch" src="/images/blue-watch.jpeg")
                h3 Blue wristwatch
                p Light Weight
                p Water Resistant
                p Silent
                div.call-to-action
                    a(href="#") View

            div.item-4
                <!-- image source https://www.istockphoto.com/vector/smart-watch-isolated-with-icons-on-white-background-vector-illustration-gm525575671-51093866 -->
                figure
                    img(alt="Silver smart watch isolated with icons on white background. Multimedia concept accessory Vector illustration. EPS 10" src="/images/apple-watch.jpeg")
                h3 Apple Watch
                p Smart Watch
                p Water Resistant
                p Digital
                div.call-to-action
                    a(href="#") View
        div(id="item-list-2" class="mt-7 grid gap-7")

            div.item-5
                <!-- image source https://www.istockphoto.com/photo/mens-wristwatch-gm118803311-11729846 -->
                figure
                    img(alt="render of a watch" src="/images/brown-watch.jpeg")
                h3 Omega watch
                p Light Weight
                p Water Resistant
                p Black inside

                div.call-to-action
                    a(href="#") View

            div.item-6
                <!-- image source https://media.istockphoto.com/photos/generic-smart-watch-isolated-on-white-all-interface-icons-are-from-my-picture-id1286277690 -->
                figure
                    img(alt="Generic smart watch isolated on white" src="/images/generic-smart-watch.jpeg")
                h3 Smart Watch
                p 3D icons.
                p Water Resistant
                p Rechargeable
                div.call-to-action
                    a(href="#") View

            div.item-7
                <!-- image source https://www.istockphoto.com/photo/alarm-clock-gm472805202-64359369 -->
                figure
                    img(alt="Alarm Clock on Isolated White Background" src="/images/classic-alarm-clock.jpeg")
                h3 Alarm clock
                p Light Weight
                p Blue
                p Analog
                div.call-to-action
                    a(href="#") View

            div.item-8
                <!-- image source https://media.istockphoto.com/vectors/vector-simple-classic-black-and-white-round-wall-clock-vector-stock-vector-id1148183648 -->
                figure
                    img(alt="Rounded wall Clock with second hand ticking in slow motion." src="/images/wall-clock.jpeg")
                h3 Wall clock
                p Black and Purple
                p Rounded
                p Analog
                div.call-to-action
                    a(href="#") View


